:root {
    --title-icon-height: 26px;
    --title-icon-width: var(--title-icon-height);

    --tile-color: #787c7e;
    --present-color: #c9b458;
    --correct-color: #6aaa64;

    --wildword-background-color: #ccc;

    --tile-hover-color: rgb(64, 64, 252);
    --tile-selected-color: blue;

    --wildword-letter-potential-color: blue;
    --wildword-letter-selected-color: green;

    --tile-text-color: white;

    --wildcard-description-margin-left: 26px;
}

html, body {
    height: fit-content;
    width: fit-content;
    margin: 0;
}

.container {
    width: 431px;
    padding: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(156, 155, 155);
    padding: 6px;
}

.title {
    display: block;
    font-family: 'Helvetica Neue';
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
}

.title-icon {
    height: var(--title-icon-height);
    width: var(--title-icon-width);
    display: block;
}

.information {
    padding: 6px;
    padding-top: 15px;
}

.information-message {
    margin: 7px;
    padding: 0px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.helper {
    padding: 0px;
    margin: 0px;
}

.inner-helper {
    display: grid;
    padding: 4px;
    padding-top: 20px;
}

.inner-helper-title {
    padding: 8px;
    margin: 0px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.option {
    float: right;
}

.possible-words {
    font-size: 20px;
    line-height: 24px;
    padding-left: 16px;
}

/* Wildcards */

.wildcards {
    display: inline-block;
    padding: 16px;
}

.wildcard-container {
    display: flex;
    align-items: center;
    padding: 5px;
}

.wildcard {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    color: var(--tile-text-color);
    font-family: Arial, Helvetica, sans-serif;
}

.wildcard.all {
    font-size: 19px;
    background-color: var(--tile-color);
}

.wildcard.unused {
    background-color: var(--tile-color);
}

.wildcard.present {
    background-color: var(--present-color);
}

.wildcard.present:hover {
    box-shadow: 0 0 0pt 0pt;
}

.wildcard.correct {
    background-color: var(--correct-color);
}

.wildcard:hover {
    box-shadow: 0 0 3pt 2pt var(--tile-hover-color);
}

.wildcard.selected {
    box-shadow: 0 0 0pt 2pt var(--tile-selected-color);;
}

.wildcard-label {
    pointer-events: none;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.wildcard-description {
    margin-left: var(--wildcard-description-margin-left);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

/* Wildword & Wildword Letters */

.wildword-container {
    display: flex;
    align-items: center;
    justify-self: center;
    position: relative;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--wildword-background-color);
}

.wildword-letter {
    display: block;
    height: 50px;
    width: 50px;
    float: left;
    margin: 7px;
    border-radius: 10px;
    color: var(--tile-text-color);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.wildword-letter.all {
    font-size: 19px;
    background-color: var(--tile-color);
}

.wildword-letter.unused {
    background-color: var(--tile-color);
}

.wildword-letter.present {
    background-color: var(--present-color);
}

.wildword-letter.correct {
    background-color: var(--correct-color);
}

.wildword-letter.potential {
    box-shadow: 0 0 2pt 1pt var(--wildword-letter-potential-color);
}

.wildword-letter.potential:hover {
    box-shadow: 0 0 3pt 2pt var(--wildword-letter-selected-color);
}

.wildword-letter-label {
    pointer-events: none;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.wildword-letter-text {
    pointer-events: none;
    font-size: 19px;
    text-transform: uppercase;
    text-align: center;
    color: var(--tile-text-color);
}

.trashcan-icon {
    display: block;
    height: 22px;
    width: 22px;
    padding: 4px;
    margin: 7px;
    margin-right: 14px;
    border-radius: 32%;
}

/* Loader */

.loader {
    margin: auto;
    margin-top: 26px;
    border: 7px solid #f3f3f3;
    border-top: 7px solid #3498db;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

 /* Toggle Switch */

 .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    margin-left: var(--wildcard-description-margin-left);
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 