html, body {
    height: 100%;
    margin: 0;
}

.container {
    margin: 16px;
    margin-right: 26px;
}

h1 {
    font-family: 'Helvetica Neue';
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}

.helper {
    margin: 10px;
}

.inner-helper {
    margin-top: 36px;
}

.option {
    float: right;
}

.wildword-container {
    display: inline-block;
    border-radius: 10px;
    background-color: #ccc;
}

.wildword-box {
    display: block;
    height: 50px;
    width: 50px;
    float: left;
    margin: 7px;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    border-style: dashed;
    border-width: 2px;
}

/*div {
    margin: 5px;
}

.error-message {
    margin-left: 16px;
    margin-right: 16px;
}

.option {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 10px;
    margin-right: 5px;
    float: left
}

.words {
    margin-left: 16px;
} */


/* TOGGLE SWITCH */

.switch {
    display: inline-block;
    height: 23px;
    position: relative;
    width: 40px;
    margin-left: 10px;
}

.switch input {
    display:none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 3.7px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 16px;
}

input:checked + .slider {
    background-color: #6a8ceb;
}

input:checked + .slider:before {
    transform: translateX(16px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}