html, body {
    height: fit-content;
    width: fit-content;
    margin: 0;
}

.container {
    margin: 16px;
    margin-right: 26px;
}

.information {
    text-align: right;
}

h1 {
    font-family: 'Helvetica Neue';
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
    margin-bottom: 14px;
}

.helper {
    padding: 10px;
}

.inner-helper {
    width: 320px;
}

.option {
    float: right;
}

/* Wildcards */

.wildcards {
    display: inline-block;
    width: 100%;
    padding-bottom: 30px;
}

.wildcard-container {
    display: flex;
    align-items: center;
}

.wildcard {
    height: 50px;
    width: 50px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    outline: 2px dashed black;
}

.wildcard.all {
    outline: 0px;
    font-size: 19px;
    background-color: #787c7e;
}

.wildcard.unknown {
    outline: 0px;
    background-color: #787c7e;
}

.wildcard.present {
    outline: 0px;
    background-color: #c9b458;
}

.wildcard.correct {
    outline: 0px;
    background-color: #6aaa64;
}

.wildcard:hover {
    outline: 2px dashed blue;
}

.wildcard.selected {
    outline: 2px solid blue;
}

.wildcard-label {
    pointer-events: none;
}

.wildcard-description {
    margin-left: 26px;
}

/* Wildword & Wildword Letters */

.wildword-container {
    display: inline-block;
    border-radius: 10px;
    background-color: #ccc;
}

.wildword-letter {
    display: block;
    height: 50px;
    width: 50px;
    float: left;
    margin: 7px;
    border-radius: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.wildword-letter.empty {
    outline: 2px dashed black;
}

.wildword-letter.all {
    outline: 0px;
    font-size: 19px;
    background-color: #787c7e;
}

.wildword-letter.unknown {
    outline: 0px;
    background-color: #787c7e;
}

.wildword-letter.present {
    outline: 0px;
    background-color: #c9b458;
}

.wildword-letter.correct {
    outline: 0px;
    background-color: #6aaa64;
}

.wildword-letter.potential {
    outline: 3px dashed blue;
}

.wildword-letter.potential:hover {
    outline: 3px dashed green;
}

.wildword-letter-text {
    pointer-events: none;
    font-size: 19px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}